body{
    width: auto;
    font-size: 16px;
    color: black;
    background-color: rgb(235, 255, 225);
    font-family: 'Alegreya', serif;
}

#header-nav{
    background-color:deeppink;
    border-radius: 0%;
    border: 0%;
    margin: 0px;
    padding: 0px;
}

.navbar-brand{
    padding-top: 20px;
    margin: 0;
    word-break: break-all;
}

.navbar-header{
    text-align: center;
    justify-content: center;
    word-break: break-all;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

.navbar-brand a{
    color:rgb(255, 242, 0);
    font-size: 2.6em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px 1px #222;
    text-decoration: none;
    text-align: center;
    padding:auto;
    overflow-wrap: break-word;
    word-break: break-all;
}

.nav{
    font-size: 1.4em;
    font-weight: 1000;
    font-family: 'Merriweather', serif;
    margin-top: 0;
    justify-content: center;
}

#navbar-toggle{
    text-decoration: none;
    border: none;
    background-color: inherit;
    font-size: 2em;
    width: auto;
    color: rgb(255, 227, 227);
    height: 40px;
}

.arrow{
    width: 25px;
    margin-top: -14px;
}

.nav-link{
    color: white;
    text-align: center;
    justify-content: center;
}

.nav-link:hover{
    color: greenyellow;
}

.carousel-inner img{
    margin: 0px auto;
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

h1{
    font-size: 3.6em;
    text-align: center;
    border: 50px;
    text-decoration: none;
    font-weight: 400;
}

section{
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

span{
    text-decoration: underline;
    font-size: 1.2em;
}

.image-sz{
    width:  300px;
    height: 420px;
    object-fit: cover;
    margin: 20px auto 20px;
    display: block;
}
.image-sz-2{
    width:  455px;
    height: 500px;
    object-fit: cover;
    margin: 10px auto 10px;
    display: block;
}

.panel-footer{
    background-color: rgb(27, 45, 2);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 251, 40);
    height: 100%;
}

.btn{
    font-size: 1.15em;
    padding: 0;
    color: white;
}

#occassions{
    text-align: center;
    margin: 17px;
}

.row{
    margin-top: 18px;
}

figcaption{
    font-size: 1.62em;
    margin-left: 0;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a > figcaption:hover{
    color: rgb(255, 0, 234);
}

#form-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
}

.gallery {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px;
}
  
.gallery > div {
    columns:3;
    gap:1.25rem;
    padding-top:1.25rem;
}
  
.gallery img {
    display:block;
    width:100%;
    margin-bottom: 1.25rem;
    box-shadow: 0px 4px 8px rgba(0.0,0,0.1);
    transition: 0.25s;
}

.gallery img:hover {
    transform: scale(1.1);
}


.rounded{
    border-top: 4px solid #000000;
}

header{
    font-family: 'Dancing Script', cursive;    ;
    font-size: 4.8vw;
    margin-top: 24%;
    color:rgb(108, 43, 43);
    text-align: center;
    font-weight: 100%;
    line-height: 108px;
}

#p_bouquets img{
    width: 100%;
    height: 575px;
    box-shadow: none;
}

#plush img{
    width: 100%;
    height: 520px;
    box-shadow: none;
}

#gifts img{
    width: 100%;
    height: 530px;
    box-shadow: none;
}

#message{
    justify-content: center;
    height: 206px;
}

#flowerShop img:hover {
    transition: 0.25s;
    transform: scale(1.1);
}

/******************************************* MEDIUM SCREENS ******************************/
@media (min-width: 992px) and (max-width: 1199px) {

    .carousel-inner img{
        margin: 0px auto;
        width: 100%;
        height: 666px;
    }

    #First_slide{
        width: 100%;
    }
    
    #Second_slide{
        width: 100%;
    }
    
    #Third_slide{
        width: 100%;
    }
    
    #Fifth_slide{
        width: 100%;
    }

    .navbar-brand{
        font-size: 100%;
        margin-bottom: 0px;
    }

    #valentines{
        font-size: 8vw;
        text-shadow: 1.2px 0px 5px rgb(83, 0, 70);
    }

    header{
        font-size: 9vw;
        line-height: 100px;
    }

    #p_bouquets img{
        height: 500px;
    }

    #plush img{
        height: 500px;
    }

    #gifts img{
        height: 500px;
    }

    .image-sz-2{
        width:  350px;
        height: 420px;
    }

}

/******************************************* SMALL SCREENS ******************************/

@media (min-width: 768px) and (max-width: 991px){
    .carousel-inner img{
        margin: 0px auto;
        width: 100%;
        height: 600px;
    }

    #First_slide{
        width: 100%;
    }
    
    #Second_slide{
        width: 100%;
    }
    
    #Third_slide{
        width: 100%;
    }
    
    #Fifth_slide{
        width: 100%;
    }

    .navbar-brand a{
        font-size: 5.9vw;
        margin-bottom: 0px;
    }

    .nav{
        font-size:1.46em;
    }

    #valentines{
        font-size: 8vw;
        text-shadow: 1.2px 0px 5px rgb(83, 0, 70);
    }

    header{
        font-size: 9vw;
        line-height: 70px;
    }

    .image-sz{
        width:  200px;
        height: 320px;
    }
    
    .image-sz-2{
        width:  300px;
        height: 420px;
    }

    #p_bouquets img{
        height: 360px;
    }

    #plush img{
        height: 360px;
    }

    #gifts img{
        height: 360px;
    }

}


/******************************************* EXTRA SMALL SCREENS ******************************/

@media (max-width: 767px) {
    .navbar-brand a{
        font-size: 6.4vw;
        margin-bottom: 0px;
    }

    .carousel-inner img{
        margin: 0px auto;
        width: 100%;
        height: 400px;
    }
    
    .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -5px;
    }

    .nav{
        font-size: 1.1em;
    }

    #occassions{
        font-size: 0.75em;
    }

    .d-flex{
        flex-wrap: wrap;
    }

    .d-flex section{
        width: 50%;
    }

    .gallery > div {
        columns: 2;
    }

    #valentines{
        font-size: 4.8vw;
        text-shadow: none;
    }

    header{
        font-size: 7.2vw;
        line-height: 45px;
    }

    #p_bouquets img{
        width: 97%;
        height: 240px;
    }

    #plush img{
        height: 230px;
    }

    #gifts img{
        height: 170px;
    }

    .image-sz-2{
        width:  300px;
        height: 400px;
    }

}